.profile
  .row
    .col-xs-6
      = image_tag @user.avatar.url(:medium), class:'img-responsive img-circle profile__avatar'
    .col-xs-6
      %h4.profile__name=@user.user_name
      - if @user == current_user
        = link_to 'Edit Profile', edit_profile_path(@user.user_name), class: 'btn btn-default profile__edit-link'

      %p.profile__bio=@user.bio

  .row.profile__posts
    %h4="#{@user.user_name}'s posts"
    -@posts.each do |post|
      = render 'posts/post', post: post