%li.notifications__item--small
  = link_to "#{notification.notified_by.user_name} #{notification.notice_type}ed on your post", link_through_path(notification), class: 'notifications__item--small__link'