#posts
  = render 'posts'

%script
  console.log(#{@posts_count});

- if @posts_count > 3  
  #paginator.paginator--posts
    = link_to_next_page @posts, 'LOAD MORE', remote: true, id: 'load_more'