.container
  .posts-wrapper.row
    =image_tag @post.image.url(:medium)
    .post-caption
      =@post.caption
    Uploaded by
    = @post.user.user_name
    .row
      .col-xs-12
        =link_to "Edit", edit_post_path(@post)