.post {
  max-width: 642px;
  margin: 0 auto 50px;
  border: 1px solid $light-border;
  border-radius: 4px;

  &__caption {
    margin: 15px;
    float: left;
    font-size: 16px;
    color: $normal-text;
  }

  &__time {
    margin: 15px;
    float: right;
    font-size: 13px;
    color: $light-text;
    line-height: 22px;
  }

  &__user {
    margin: 15px 15px 25px;
    float: left;
  }

  &__likers {
    padding: 0 15px 0 15px;
    clear: both;
  }

  &__comments {
    margin: 15px 0;
    clear: both;
  }

  &__bottom {
    margin: 35px 0 0 0;
    clear: both;
  }

  &__like {
    padding: 10px 0 0 0;
    font-size: 18px;
    
    a {
      color: $like-heart;
    }
  }

}


.comment {
  margin: 0 15px 5px 15px;

  &__user {
    margin-right: 8px;
    display: inline-block;
    font-weight: 600;
  }

  &__content {
    display: inline-block;
  }

  &__delete {
    display: inline-block;
    float: right;
  }

}

.form--comment {
  width: 100%;
  padding: 0 0 15px 0;
  clear: both;
}

.paginator--posts {
  width: 150px;
  height: 40px;
  margin: 0 auto 100px;
  letter-spacing: 1px;
  text-align: center;
  background-color: $btn-action;
  border-radius: 3px;

  a {
    display: inline-block;
    width: 100%;
    height: 100%;
    line-height: 40px;
    color: #fff;
  }
}


.paginator--comments {
  margin: 0 15px;
}