.paginator--posts {
  width: 150px;
  height: 40px;
  margin: 0 auto 100px;
  letter-spacing: 1px;
  text-align: center;
  background-color: $btn-action;
  border-radius: 3px;

  a {
    display: inline-block;
    width: 100%;
    height: 100%;
    line-height: 40px;
    color: #fff;
  }
}