.profile {
  max-width: 642px;
  margin: 0 auto;

  &__avatar {
    width: 152px;
    height: 152px;
    margin: 30px auto;
  }

  &__name {
    margin-top: 30px;
    float: left;
  }

  &__action {
    margin-top: 24px;
    float: right;
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: 1px;
    border: 1px solid $light-border;

    &--edit {
      color: $light-text
    }

    &--follow {
      color: #fff;
      background-color: $btn-action;
      border-color: #549fb5;

      &:hover, &:focus {
        color: #fff;
      }
    }

    &--unfollow {
      background-color: #4fbd4f;
      color: #fff;
      border-color: #4e904e;

      &:hover {
        color: #fff;
      }
      
    }  
  }

  &__stats {
    margin: 50px 0 0 0;
    padding: 0;
    float: left;
    clear:both;

    li {
      margin-right: 30px;
      display: inline;
      list-style-type: none;
    }
  }

  &__bio {
    clear: both;
    padding-top: 35px;
  }

  &__posts {
    margin: 110px 0 0 0;
  
    h4 {
      margin-bottom: 30px;
    }
  }
}