@import "bootstrap-sprockets";
@import "bootstrap";


body {
  color: #6d6d6d;
}

.wrapper {
  max-width: 642px;
  margin: 0 auto;
}

.post {
  margin-bottom: 50px;
  border: 1px solid #d0d0d0;
  border-radius: 6px;

  &-head {
    padding: 17px;
    overflow: hidden;  
  }

  &-caption {
    font-size: 17px;
    color: #777;
    overflow-wrap: break-word;
    float: left;  
  }

  &-time {
    float: right;
    color: #999;
    font-size: 13px;
    line-height: 24px;  
  }

  &-image {
    margin: 0 auto;
  }

  &-bottom {
    padding: 17px;
  }

  &-user {
    margin-bottom: 17px;
    font-size: 14px;
    color: #999;  
  }

  &-comments {
    margin-bottom: 17px;
  }
}

.comment {
  overflow: hidden;
  clear: both;

  &-username {
    display: inline;
    margin-right: 10px;
    color: #337ab7;
    font-weight: bold;
    float: left;
  }

  &-content {
    display: inline;
    float: left;
  }

  &-delete {
    float: right;
  }
}

.session-form h2 {
  margin-bottom: 30px;
}

.session-form .input {
  margin-bottom: 20px;
}

.checkbox input[type="checkbox"] {
  position: relative;
  margin-left: 0;
  margin-right: 8px;
}

input[type="text"], 
input[type="email"], 
input[type="password"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.footer {
  height: 200px;
  margin-top: 40px;
  padding-top: 40px;
  background-color: #ddd;
}